#main {
	width : 1200;
	height : 801;
}

#island {
	width : 801;
	height : 801;
}

#settings {
	width : 300;
	height : 801;

}

#expandedSettings {
	height : 600;
	display:none;
}

.grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 39px,#CCC 39px,#CCC 40px),repeating-linear-gradient(-90deg,transparent,transparent 39px,#CCC 39px,#CCC 40px);
    background-size: 40px 40px;
}

.inline {
	float : left;
}

.fill {
	width : 100%;
	margin-bottom : 4;
}